<html>
<head>
<meta charset="UTF-8">
<title>DevelopHer</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.min.js"></script>
  <!-- app -->
<script src='/app.module.js'></script>

<script src='app/companies/companies.module.js'></script>
<script src='app/companies/config.route.js'></script>
<script src='app/companies/companies.controller.js'></script>
<script src='app/companies/companies.factory.js'></script>
<script src='app/women/women.module.js'></script>
<script src='app/women/config.route.js'></script>
<script src='app/women/women.controller.js'></script>
<script src='app/women/women.factory.js'></script>

<link rel="stylesheet" href="stylesheets/style.css">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
</head>


<body id="body" ng-app="DevelopHerApp">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/about">DevelopHER</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/numbers"> <object type="image/svg+xml" id='svg' data="images/pie-chart2.svg"></object>   The Numbers <span class="sr-only"></span></a></li>
        <li><a href="/#/stories"> <object type="image/svg+xml" id='svg' data="images/write62.svg"> </object>   The Stories</a></li>
        <li><a href="/#/about"><object type="image/svg+xml" id='svg' data="images/tool36.svg"></object> The Project</a></li>
      </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container"ng-view>
</div>
</body>
