<div class ="row">
  <div class="col-lg-8 text-center">
    <h2 ng-if="!company"> Choose a company from the list to get started </h2>
    <h2>{{company}}</h2>
    <h3 ng-if="company"> {{percentage.toFixed(2)}}% women</h3>
    <canvas ng-if="allDevs" id="doughnut" class="chart chart-doughnut" chart-data="pollData" chart-labels="pollLabels" ></canvas>
  </div>

  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">COMPANIES</h3>
      </div>
      <div class="panel-body">
        <li ng-repeat="company in companies.companies | filter: search" ng-if='companies.companies.indexOf(company) > 1'> <a ng-click="makeChart(company)">{{company.company}}</a></li>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12 text-center">
          <h3><input type="text" ng-model="search" placeholder="Search"/></h3>
        </div>
      </div>
          <div class="row">
          <div class="col-lg-6">
            filters will go here
          </div>
          <div class="col-lg-6">
            <select name= "filter"><option value="None" selected>Sort by</option>
              <option value="A-Z"> A-Z</option>
              <option value="Z-A"> Z-A</option>
              <option value="Z-A">Small to Large Company</option>
              <option value="Z-A">Large to Small Company</option>


          </div>
        </div>
      </div>
    </div>
  </div>
