<div class ="row">
  <div class="col-lg-8 text-center">
    <div ng-if="!company" id="jumbo" class="jumbotron">
    <h2> Choose a company from the list to get started</h2>
    </div>
    <h2>{{company}}</h2>
    <h3 ng-if="company"> {{percentage.toFixed(2)}}% women</h3>
    <canvas
    ng-if="allDevs"
    id="doughnut"
    class="chart chart-doughnut"
    chart-data="pollData"
    chart-labels="pollLabels"/>
  </div>

  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-footer">
        <h4 class="text-center">COMPANIES</h3>
      </div>
      <div class="panel-body">
        <li ng-repeat="company in companies.companies | filter: search"> <a ng-click="makeChart(company)">{{company.company}}</a></li>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12 text-center">
          <h3><input type="text" ng-model="search" placeholder="Search"/></h3>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
