#navbar{
    color: #EE798A;
}

body{
  font-family: Playfair-Display;
}

.panel{
  border: 5px solid #BDD4BB;
}

.panel-body{
  height: 400px;
  overflow: auto;
}

#jumbo {
  margin-top: 200px;
}

a {
 color:#EE798A;
}

a:hover {
    color: #BDD4BB;
}

#svg {
  width: 20px;
  height: 20px;
}
#logo {
  padding-top: 2px;
  height: 65px;
}
